<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

    <connectionStrings>
      <add name="SourceDBConn" connectionString="Data Source=172.28.70.70;DataBase=DB_MC_USER_INFO;Persist Security Info=True;User ID=sa;Password=1qaz!QAZ"></add>
      <add name="TargetDBConn" connectionString="Data Source=172.28.70.70;DataBase=DB_RESULT;Persist Security Info=True;User ID=sa;Password=1qaz!QAZ"></add>
    </connectionStrings>

    <appSettings>
      <clear/>
      <add key ="SUserID" value ="sa"/>
      <add key ="SPassword" value="1qaz!QAZ"/>
      
      <add key ="TUserID" value ="sa"/>
      <add key ="TPassword" value="1qaz!QAZ"/>

      <add key ="City" value="上海"/>

      <add key ="Search_1" value ="(上海市)*(?'A'.*)"/>
      <add key ="Replace_1" value ="上海市${A}"/>

      <add key ="Search_2" value ="(?'A'\w*弄)"/>
      <add key ="Replace_2" value ="${A}"/>

      <add key ="Search_3" value ="(?'A'\w*路\w*号)"/>
      <add key ="Replace_3" value ="${A}"/>

      <add key ="Search_4" value ="(?'A'\w*(街坊|新村))"/>
      <add key ="Replace_4" value ="${A}"/>
    </appSettings>

</configuration>