<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>

  <connectionStrings>
    <add name="SourceDBConn" connectionString="Data Source=172.28.70.70;DataBase=DB_RESULT;Persist Security Info=True;User ID=sa;Password=1qaz!QAZ"></add>
    <add name="TargetDBConn" connectionString="Data Source=172.28.70.70;DataBase=DB_RESULT;Persist Security Info=True;User ID=sa;Password=1qaz!QAZ"></add>
  </connectionStrings>

  <appSettings>
    <clear/>
    <add key="ak" value="bkVoYqmhhPWZavSf59pYsWgo1kvPGDXh"/>

    <add key="SUserID" value="sa"/>
    <add key="SPassword" value="1qaz!QAZ"/>
    <add key="SRangeItem" value="tb_addr_id_num"/>
    <add key="SRangeMin" value="80001"/>
    <add key="SRangeMax" value="160000"/>

    <add key="TUserID" value="sa"/>
    <add key="TPassword" value="1qaz!QAZ"/>

  </appSettings>

</configuration>
