<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>

  <connectionStrings>
    <add name="SourceDBConn" connectionString="Data Source=172.28.70.70;Initial Catalog={0};Persist Security Info=True;User ID=sa;Password=1qaz!QAZ;MultipleActiveResultSets=True;Asynchronous Processing=true"></add>
    <!--<add name="TargetDBConn" connectionString="Data Source=172.28.70.70;Initial Catalog={0};Persist Security Info=True;User ID=sa;Password=1qaz!QAZ;MultipleActiveResultSets=True;Asynchronous Processing=true"></add>-->
    <!--<add name="SourceDBConn" connectionString="Data Source=10.0.8.9;Initial Catalog={0};Persist Security Info=True;User ID=sa;Password=SHDCsqlP@ssw0rd;MultipleActiveResultSets=True;Asynchronous Processing=true"></add>-->
  </connectionStrings>

  <appSettings>
    <clear/>
    <add key="ak1" value="bkVoYqmhhPWZavSf59pYsWgo1kvPGDXh"/>
    <add key="ak2" value="G9cddRpBtdh8gtVMT6gSnS1b9reuCKHs"/>
    <add key="ak3" value="HdA7n8YuTHzfdLLYgwWdf4LaZWRgcmeG"/>
    <add key="ak4" value="Y5DStlEzvc0a228OeecY8I3Dqm1CzoZb"/>
    <add key="ak5" value="bRbMPYGGgFPNqmxy80rDt3Gh"/>

    <add key="DataName" value="DB_RESULT"/>
    <add key="TableName" value="TB_ADDR"/>
    <add key="SPassword" value="1qaz!QAZ"/>
    <add key="SRangeItem" value="tb_addr_id_num"/>
    <add key="SRangeMin" value="80001"/>
    <add key="SRangeMax" value="160000"/>

    <add key="TUserID" value="sa"/>
    <add key="TPassword" value="1qaz!QAZ"/>

  </appSettings>
  
</configuration>
